h1 {
  margin-bottom: -8px;
  display: inline-block;
  font-family: arial, sans-serif;
  font-weight: 400;
  color: #70757a;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  color: #70757a;
  margin: 0;
  padding: 0;
  line-height: 19px;
}

.weather-app {
  max-width: 600px;
  border: 1px solid #70757a;
  margin: 40px 0 0 0;
  padding: 20px;
  border-radius: 5px;
}

.container {
  margin: 0 auto;
}

.overview {
  margin-bottom: 18px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.forecast-minimum {
  font-size: 13px;
  color: #70757a;
}

.forecast-maximum {
  font-size: 13px;
}

#date {
  padding: 2px;
  line-height: -0.5;
  color: #70757a;
}

#update {
  margin-left: 2px;
}

#description {
  margin-left: 2px;
}

#description:first-letter {
  text-transform: capitalize;
}

#weather-forecast-date {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: #70757a;
}
